.loading {
  text-align: center;
  font-size: 20px;
  margin: 20px auto;
}

.employee-container {
  width: 80%;
  margin: 10px auto;
}

.employee-card-container {
  text-decoration: none;
  color: black;
}

.employee-header {
  margin-top: 10px;
  font-size: 30px;
  text-align: center;
  color: rgb(219, 66, 66);
}

.employee-sub-header {
  font-size: 20px;
  margin: 10px auto;
  text-align: center;
  font-style: italic;
  color: rgb(48, 42, 42);
}

.employee-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  height: auto;
  margin: 50px auto;
  border: 2px solid #bedcfa;
  box-shadow: 0 4px 8px 0 #008891;
  background-color: #bedcfa;
}

.image-div {
  width: 25vh;
  height: 25vh;
  margin: 10px auto;
  padding: 20px;
  background-color: #bedcfa;
}

.employee-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #bedcfa;
}

.employee-details {
  font-family: "Nunito";
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  text-align: justify;
  margin: 20px auto;
  background-color: #bedcfa;
  color: #4a4e69;
}

.employee-name {
  font-weight: bold;
  font-family: "Oswald", "sans-serif";
  font-size: 1.5rem;
  text-decoration: none;
  /* color: #4a4e69; */
  color: #3d5a80;
}

.employee-company {
  color: rgb(219, 66, 66);
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
  font-size: 1rem;
  text-decoration: none;
}

.employee-description {
  font-weight: lighter;
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
  font-size: 1rem;
  color: black;
}

.employee-company p,
.employee-description p,
.employee-name p {
  background-color: #bedcfa;
  text-align: center;
}

@media (max-width: 476px) {
  .loading {
    font-size: 5vw;
  }
  .employee-card {
    flex-direction: column;
    margin: 10px auto;
  }
  .employee-details {
    flex-direction: column;
    margin: 20px auto;
  }
  .employee-name {
    font-size: 1rem;
  }
  .employee-company {
    font-size: 0.8rem;
  }
  .employee-description {
    font-size: 0.8rem;
  }
}

@media (max-width: 264px) {
  .employee-header {
    font-size: 20px;
  }
  .employee-sub-header {
    font-size: 14px;
  }
  .image-div {
    margin: 0px;
  }
}

@media (max-width: 200px) {
  .employee-container {
    width: 100%;
  }
  .employee-card {
    width: 80%;
  }
  .image-div {
    height: 40vw;
    width: 40vw;
    margin: 0px;
    padding: 5px;
  }
  .employee-details {
    width: 90%;
    margin-top: 0px;
  }
  .employee-name,
  .employee-company,
  .employee-description {
    margin-top: 0px;
  }
  .employee-header {
    font-size: 10px;
  }
  .employee-sub-header {
    font-size: 7px;
  }
  .employee-name {
    font-size: 0.6rem;
  }
  .employee-company {
    font-size: 0.4rem;
  }
  .employee-description {
    font-size: 0.4rem;
  }
}

@media (max-width: 100px) {
  .employee-details {
    margin-bottom: 10px;
  }
  .employee-header {
    font-size: 8vw;
  }
  .employee-sub-header {
    font-size: 5vw;
  }
  .employee-name {
    font-size: 8vw;
  }
  .employee-company {
    font-size: 6vw;
  }
  .employee-description {
    font-size: 5vw;
  }
}
